
@charset "UTF-8";

// https://github.com/sindresorhus/modern-normalize
@import "../../node_modules/modern-normalize/modern-normalize.css";




// FONT FAMILIES

$family-serif: "Times New Roman", serif;
$family-sans-serif: Helvetica, Arial, sans-serif;




// PALETTE

// PALETTE / colours
// colour names and hex codes only

$black:        #000000;
$off-black:    #222222;
$darker-grey:  #444444;
$dark-grey:    #666666;
$grey:         #888888;
$light-grey:   #999999;
$lighter-grey: #BBBBBB;
$off-white:    #DDDDDD;
$white:        #ffffff;

$blue:         #0074d9;  /* From http://clrs.cc */
$dark-blue:    #0057A3;
$darker-blue:  #003A6D;


// PALETTE / semantic
// colour variables for the page

$background-color:
  $white;

$text-color:  // normal text
  $darker-grey;

$name-color:  // h1 (my name)
  $black;

$heading-color:  // h2 - h6
  $off-black;

$title-color:  // titles of papers / talks
  $off-black;

$link-color:
  $blue;

$link-emphasis-color:
  $dark-blue;

$link-visited-color:
  $dark-blue;




// FLUID LENGTHS (min at 480px, max at 800px)
// https://utopia.fyi/clamp/calculator?a=480,800,48—72

$--space-075: clamp(0.5rem, 0.125rem + 1.25vw, 0.75rem);
$--space-115: clamp(0.75rem, 0.1875rem + 1.875vw, 1.125rem);
$--space-150: clamp(1rem, 0.25rem + 2.5vw, 1.5rem);
$--space-225: clamp(1.5rem, 0.375rem + 3.75vw, 2.25rem);
$--space-300: clamp(2rem, 0.5rem + 5vw, 3rem);
$--space-450: clamp(3rem, 0.75rem + 7.5vw, 4.5rem);
$--space-600: clamp(4rem, 1rem + 10vw, 6rem);
$--space-900: clamp(6rem, 1.5rem + 15vw, 9rem);


$--type-070: clamp(0.6513rem, 0.6225rem + 0.115vw, 0.68rem);
$--type-085: clamp(0.7813rem, 0.7125rem + 0.275vw, 0.85rem);
$--type-105: clamp(0.9375rem, 0.8125rem + 0.5vw, 1.0625rem);
$--type-135: clamp(1.125rem, 0.9219rem + 0.8125vw, 1.3281rem);
$--type-165: clamp(1.35rem, 1.04rem + 1.24vw, 1.66rem);
$--type-210: clamp(1.62rem, 1.165rem + 1.82vw, 2.075rem);
$--type-260: clamp(1.9438rem, 1.2938rem + 2.6vw, 2.5938rem);
$--type-324: clamp(2.3325rem, 1.4225rem + 3.64vw, 3.2425rem);



// LENGTH CONSTANTS

$max-width: 50em;

$break-1: 30em;
$break-2: 40em;
$break-3: $max-width;


$h1-weight: 600;
$header-weight: 600;

$h1-size: $--type-260;
$h2-size: $--type-165;

$text-size: $--type-135;


// LAYOUT

body {
  // on small viewports, narrow border to 6vw
  // otherwise, big top/bottom margins
  padding: $--space-450 min($--space-225, 6vw);

  // set page width and center page
  max-width: calc($max-width + $--space-450);
  margin: 0 auto;
}

.main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $--space-075;
}

.footer {
  text-align: center;
  margin-top: $--space-300;
}

.header {
  margin-bottom: $--space-150;
}


// LAYOUT / face and name

img.headshot {
  border-radius: 50%;
}

// @ mobile
img.headshot {
  display: block;
  max-width: 8rem;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: $h1-weight;
  color: $name-color;
}

// @ larger than mobile
@media (min-width: $break-1) {

  img.headshot {
    float: right;
    margin: 0 0 $--space-115 $--space-225;
    max-width: clamp(12rem, 35vw, 14rem);
  }

  h1 {
    font-size: $h1-size;
    margin: $--space-225 0 $--space-150;
    text-align: left;
  }
}



// MAIN CONTENT STYLING
// markdown components in .main container
// - H1 styling is in previous section
// - H3-H6 are not currently supported

// MAIN / fonts and spacing

html {
  -webkit-font-smoothing: antialiased;
  font-size: clamp(0.9375rem, 0.894rem + 0.2174vw, 1.0625rem);
  font-family: $family-sans-serif;
}

// headers
h2 {
  margin: $--space-225 0 $--space-075;
  font-weight: $header-weight;
  color: $heading-color;
  font-size: $h2-size;
}

// normal text
p, ul, ol {
  margin: $--space-075 0;
  color: $text-color;
  line-height: 1.5;
}

// links
a {
  color: $link-color;
  // text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  text-decoration-thickness: 0.05rem;

  &:hover {
    color: $link-emphasis-color;
    text-decoration: underline;
    text-decoration-thickness: 0.12rem;
  }

  &:focus {
    background-color: $link-emphasis-color;
    color: $white;
    text-decoration: none;
    outline: 2pt solid $link-emphasis-color;
    outline-offset: -1pt;
  }

  &:visited {
    color: $link-visited-color;
  }
}




// STYLIZED LISTS (annotations for papers / talks)

// reduce left padding in first-level list
ul, ol, dl {
  padding-left: $--space-150;
}


// STYLIZED LISTS / layout of annotations and triangle decoration on links

$link-triangle-gap: 0.4rem;  // gap between triangle and link text

:is(ul, ol, dl) li {

  margin-bottom: $--space-075;

  // remove spacing and bullets from second-level list
  p, ul, ol, dl, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // treat annotations as rectangular blocks that can wrap
  ul li {
    display: inline-block;
  }

  // formatting second-level list + triangle decoration
  ul li:has(a) {

    // padding-left moves all lines together left to right
    // padding-left: $--space-150;
    padding-left: $--space-115;

    // make spacing better when the list items are side by side on larger displays
    padding-right: 0.2rem;


    // Triangle adornment on links (removed)

    // // text-indent moves top line relative to the rest of the lines
    // // changing the gap between triangle and the link will also move the top line relative to the rest
    // text-indent: -#{$link-triangle-gap};

    // // prevent triangle being on a separate line
    // p {
    //   display: inline;
    // }

    // // add triangle (removed)
    // &::before {
    //   content: "\23F5";  // right triangle ⏵
    //   font-size: 0.7rem;
    //   color: $dark-blue;

    //   // otherwise triangle gets underlined
    //   display: inline-block;

    //   margin-right: $link-triangle-gap;
    // }

    // // fix the case when inline <p> adds extra left margin
    // &:has(p)::before {
    //   margin-right: calc($link-triangle-gap - 0.3rem)
    // }


    // extra space after italics and bold (ex. journal title)
    strong em::after {
      content: "\2006";  // 6 per em space
    }
  }
}


// STYLIZED LISTS / additional text formatting in lists

ul li {

  // bold titles of papers / talks
  p:first-child {
    color: $title-color;
  }

  li :is(p,a) {
    font-size: 0.95rem;
  }
}




// SMALL TEXT (footer / header)

@mixin small-text {
  p {
    color: $lighter-grey;
    font-size: 0.85rem;
    margin: 0.4rem 0;
  }

  a {
    color: inherit;  // make link grey not blue
    // text-decoration: none;

    &:hover {
      color: $dark-grey;
      text-decoration: underline;
      text-decoration-color: $dark-grey;
      text-decoration-thickness: 0.1rem;
    }

    &:focus {
      background-color: $dark-grey;
      color: $white;
    }
  }
}

.footer, .header {
  @include small-text;
}

.header-back {

  // left triangle decoration on "back to homepage" link
  p a:first-child::before {
    content: "\25C2"; // left triangle ◂
    display: inline-block;
    margin-right: $link-triangle-gap;
  }
}
