---
const { content } = Astro.props;

import "../styles/main.scss";

const today = new Date();
const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
let todayMonth = months[today.getMonth()];
/* let todayYear = today.getFullYear(); */
let lastUpdated = todayMonth.concat(" ", today.getFullYear().toString() );
---

<html lang={content.lang || 'en'}>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <title>{content.title}</title>
</head>

<body>
  <div class="container">
  <img class="headshot" src="/face.jpg" alt="Cindy" />
    <slot />

  <footer class="footer">
    <p>
      Last updated: {lastUpdated}.
    </p>
    <p>
      Photo by <a href="https://www.flickr.com/people/ttcg95">Tim</a>.
    </p>
  </footer>
  </div>


<script>

// open external links and files in a new tab
function new_tab_links() {
    if (!document.getElementsByTagName) return false;
    for(var links = document.getElementsByTagName("a"), i = 0; i < links.length; i++) {
        var link = links[i];
        if( (link.getAttribute("href") && link.hostname !== location.hostname)  // external links
         || (link.href.indexOf('.pdf') !== -1)  // PDFs and documents
         || (link.href.indexOf('.doc') !== -1)
         || (link.href.indexOf('.docx') !== -1) ){
            link.target = "_blank";
            link.rel = "noopener noreferrer";
        }
    }
}
new_tab_links();
</script>

</body>
</html>
